#files add after running autoreconf -vfi
Makefile.in
config.guess
config.sub
configure
doc/Makefile.in
include/Makefile.in
include/speex/Makefile.in
libspeexdsp/Makefile.in
ltmain.sh
m4/libtool.m4
m4/ltversion.m4
symbian/Makefile.in
ti/Makefile.in
ti/speex_C54_test/Makefile.in
ti/speex_C55_test/Makefile.in
ti/speex_C64_test/Makefile.in
win32/Makefile.in
win32/VS2003/Makefile.in
win32/VS2003/libspeexdsp/Makefile.in
win32/VS2003/tests/Makefile.in
win32/VS2005/Makefile.in
win32/VS2005/libspeexdsp/Makefile.in
win32/VS2005/tests/Makefile.in
win32/VS2008/Makefile.in
win32/VS2008/libspeexdsp/Makefile.in
win32/VS2008/tests/Makefile.in
win32/libspeexdsp/Makefile.in
autom4te.cache/
config.h.in~
